<h1>Branches of the burger company</h1>

<!-- <form (submit)="onSubmitNames()"> bu method ile kullanırken her branch için hemen bir database oluşturuyorduk-->
<form (submit)="addBranchToMaster()">  
  <label>
    Add Branch Names :
    <br />
    <input autocomplete="off" name="nameBranch" [(ngModel)]="nameBranch" />
  </label>
  &nbsp;
  <button type="submit">Add branch</button>
</form>


<h3>Click for see your company branches</h3>
<button (click)="revenueCenter()">Revenue Center</button>
<br>
<br>

<div *ngIf="showRevenue == true">
  <form>
    <!-- <div *ngFor="let c of informationDb">  Her name eklendiğinde yeni bir database oluşurken kullanıyorduk
      <input type="checkbox" value={{c.dbName}} [checked]="false" [disabled]="checkboxDis" (change)="checkCheckBoxvalue($event)">
      <label for="name"> {{ c.realName }}</label><br>
    </div> -->

    <div *ngFor="let branch of masterBranches$ | async">
      <input type="checkbox"  value={{branch.id}} [checked]="branch.selected" [disabled]="checkboxDis" (change)="checkCheckBoxvalue($event)">
      <label for="name"> {{ branch.name }}</label><br>

    </div>


  </form>
  
</div>
<br>

<!-- <label *ngIf="selectedDb != ''" > Current selected Database <b> <br>{{ selectedrealName}} , {{selectedDb }} </b> <br></label>
<br>
<button (click)="createNewSelected()">Create New Database for selected</button>
<br><br>
<button (click)="deleteSelected()">Delete seletected database </button>
<br><br>
<button (click)="deleteAll()">Delete all Databases</button> -->

<label *ngIf="selectedBranchfromMaster != ''" > Current selected branch from Master Database <b> <br>{{ selectedBranchfromMaster }} </b> <br></label>
<br>
<button (click)="createDbforSelected(selectedBranchfromMaster)">Create Database for selected branch: {{selectedBranchfromMaster}}</button>
<br><br>
<button (click)="deleteSelected()">Delete seletected database </button>
<br><br>
<button (click)="clearBranchesInMaster()">Delete all branches in master</button>



 
 
