<h1>Branches of the burger company in Antalya</h1>

<form (submit)="onSubmitNames()">
  <label>
    Add Branch Names :
    <br />
    <input autocomplete="off" name="nameBranch" [(ngModel)]="nameBranch" />
  </label>
  &nbsp;
  <button type="submit">Add branch</button>
</form>


<h3>Click for see your company branches</h3>
<button (click)="revenueCenter()">Revenue Center</button>
<br>
<br>

<div *ngIf="showRevenue == true">
  <form>
  
    <div *ngFor="let c of informationDb">
      <input type="checkbox" value={{c.dbName}} [checked]="false" [disabled]="checkboxDis" (change)="checkCheckBoxvalue($event)">
      <label for="name"> {{ c.realName }}</label><br>
    </div>
  </form>
  
</div>
<br>

<h4 *ngIf="selectedDb != ''" > Current selected Database {{ selectedrealName}} , {{selectedDb }}</h4>

<button (click)="createNewSelected()">Create New Database for selected</button>
<br><br>
<button (click)="deleteSelected()">Delete seletected database </button>
<br><br>
<button (click)="deleteAll()">Delete all Databases</button>


 
 
